{{ 'global-popup.css' | asset_url | stylesheet_tag }}

<script src="{{ 'global-popup.js' | asset_url }}" defer></script>

<div class="global-popup">
    <div class="global-popup__box">
        <span class="global-popup__box-close">x</span>
        <h3 class="global-popup__box-title">{{ section.settings.popup_title }}</h3>
        <p class="global-popup__box-message">
            {{ section.settings.popup_message }}
        </p>
        <button
                type="button"
                class="global-popup__box-accept"
        >
            ok
        </button>
    </div>
</div>

<script>
    window.onload = () => {
        typeof GlobalPopup !== 'undefined' && new GlobalPopup();
    }
</script>

{% schema %}
{
  "name": "t:sections.global-popup.name",
  "max_blocks": 1,
  "tag": "section",
  "class": "global-popup-container",
  "settings": [
    {
      "type": "text",
      "id": "popup_title",
      "default": "Title",
      "label": "Popup title"
    },
    {
      "type": "text",
      "id": "popup_message",
      "default": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, voluptatibus.",
      "label": "Popup message"
    }
  ],
  "blocks": [
    {
      "type": "popup",
      "name": "t:sections.global-popup.blocks.popup.name",
      "settings": [
        {
          "type": "select",
          "id": "fade_effect",
          "options": [
            {
              "value": "on",
              "label": "t:sections.global-popup.blocks.popup.settings.on"
            },
            {
              "value": "off",
              "label": "t:sections.global-popup.blocks.popup.settings.off"
            }
          ],
          "default": "on",
          "label": "t:sections.global-popup.blocks.popup.settings.fade_effect_label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "popup"
      }
    ]
  }
}
{% endschema %}
